@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nanum+Gothic&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap');
*{margin: 0; padding: 0;}
ul{list-style: none;}
a:link , a:visited{text-decoration: none; color: #333;}
#home{
    width: 100%;
    height: 100vh;
    background-color: #0d5c4c;
    position: relative;
}
#home .center1{
    width: 400px;
    height: 200px;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    border-radius: 50%;
}
#home .center2{
    width: 415px;
    height: 215px;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
}
#home .center3{
    width: 430px;
    height: 230px;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 50%;
}
#home .title{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font: normal 4em 'Lobster', cursive;
}
#home .header{
    position: fixed;
    z-index: 19;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1920px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0);
    transition: all 0.4s;
}
.header .logo{
    flex: 1 1 10%;
    margin-left: 40px;
    margin-top: 11px;
}
.header .logo img{
    height: 50px;
}
.header ul{
    flex: 0 1 35%;
    display: flex;
}
.header li{
    flex: 1 1 20%;
    line-height: 70px;
    text-align: center;
}
.header li a{
    font: bold 1.2em 'Rajdhani';
    color: white;
}
#home .sub{
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#home .sub p{
    flex: 1 1 33.3%;
    font: normal 0.8em 'Nanum Gothic';
    color: white;
}
#home .sub p:nth-child(1){
    margin-left: 30px;
}
#home .sub p:nth-child(2){
    text-align: center;
}
#home .sub p:nth-child(3){
    text-align: right;
    margin-right: 30px;
}

/*----------------2 페이지------------------*/
#about{
    width: 100%;
    height: 100vh;
    /* background-color: #acc6c0; */
    background-attachment: fixed;
    position: relative;
}
#about .container{
    width: 90%;
    margin: auto;
    position: relative;
}
#about h2{
    position: absolute;
    z-index: 10;
    left: 0;
    font: bold 1.7em 'Rajdhani';
    padding-top: 220px;
}
#about h2::before{
    content: '01';
    position: absolute;
    z-index: -1;
    color: #ddd;
    font-size: 180px;
    left: -70px;
    top: 85px;
    font-family: 'Rajdhani';
}
#about .wrap{
    width: 70%;
    display: flex;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
}
#about .profile{
    width:300px;
    height: 300px;
    font-family: 'Nanum Gothic';
    position: relative;
}
#about .profile .subtext{
    position: absolute;
    z-index: 2;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}
#about .edu{
    width: 380px;
    height: 300px;
    position: relative;
}
#about .edu .subtext2{
    position: absolute;
    z-index: 2;
    width: 95%;
    left: 55%;
    transform: translateX(-50%);
}
#about .etc{
    width: 300px;
    height: 300px;
    position: relative;
}
#about .etc .subtext3{
    position: absolute;
    z-index: 2;
    width: 90%;
    left: 60%;
    transform: translateX(-50%);
}
#about h3{
    font: bold 1.3em 'Rajdhani';
}
#about .profile p:nth-of-type(1){
    font: bold 1em 'Nanum Gothic';
}
#about .profile p:nth-of-type(2){
    font: bold 1em 'Nanum Gothic';
}
#about .profile p:nth-of-type(3){
    font: normal 1em 'Nanum Gothic';
}
#about .profile p:nth-of-type(5){
    font: bold 1em 'Nanum Gothic';
}
#about .profile p:nth-of-type(6),
#about .profile p:nth-of-type(7){
    font: normal 1em 'Nanum Gothic';
}

#about .edu p:nth-of-type(1),
#about .edu p:nth-of-type(2),
#about .edu p:nth-of-type(3){
    font: normal 1em 'Nanum Gothic';
    margin-bottom: 10px;
}
#about .edu p:nth-of-type(1) span,
#about .edu p:nth-of-type(2) span,
#about .edu p:nth-of-type(3) span{
    font: bold 1em 'Nanum Gothic';
}

#about .etc p:nth-of-type(1),
#about .etc p:nth-of-type(2){
    font: normal 1em 'Nanum Gothic';
    margin-bottom: 10px;
}
#about .etc p:nth-of-type(1) span,
#about .etc p:nth-of-type(2) span{
    font: bold 1em 'Nanum Gothic';
}
#about .icontitle{
    text-align: center;
    margin-bottom: 30px;
}
#about img{
    height: 70px;
}

/*----------------3 페이지------------------*/
#skills{
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
}
#skills .container{
    width: 90%;
    margin: auto;
    position: relative;
}
#skills h2{
    position: absolute;
    z-index: 10;
    left: 0;
    font: bold 1.7em 'Rajdhani';
    padding-top: 220px;
}
#skills h2::before{
    content: '02';
    position: absolute;
    z-index: -1;
    color: #ddd;
    font-size: 180px;
    left: -70px;
    top: 85px;
    font-family: 'Rajdhani';
}
#skills .box{
    position: absolute;
    z-index: 2;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 100px;
    margin: auto;
}
#skills .box ul{
    width: 100%;
    /* display: flex; */
}
#skills .box li{
    /* flex: 1 1 25%; */
    text-align: center;
    font: bold 1em 'Nanum Gothic';
}
#skills .box li:nth-child(1){
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 10%;
    transform: translateX(-50%);
}
#skills .box li:nth-child(2){
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 37%;
    transform: translateX(-50%);
}
#skills .box li:nth-child(3){
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 64%;
    transform: translateX(-50%);
}
#skills .box li:nth-child(4){
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 90%;
    transform: translateX(-50%);
}

#skills svg{
    width: 100%;
    height: 100%;
}

#skills .st0{
    fill:none;
    stroke:#E1E1E1;
    stroke-width:25;
    stroke-linecap:round;
    stroke-miterlimit:10;
}
#skills .st1{
    fill:none;
    stroke:#138C75;
    stroke-width:25;
    stroke-linecap:round;
    stroke-miterlimit:10;
    stroke-dasharray: 401.08;
    stroke-dashoffset: 401.08;
}
#skills .st2{
    fill:none;
    stroke:#117560;
    stroke-width:25;
    stroke-linecap:round;
    stroke-miterlimit:10;
    stroke-dasharray: 401.08;
    stroke-dashoffset: 401.08;
}
#skills .st3{
    fill:none;
    stroke:#0D5C4C;
    stroke-width:25;
    stroke-linecap:round;
    stroke-miterlimit:10;
    stroke-dasharray: 401.08;
    stroke-dashoffset: 401.08;
}
#skills .st4{
    fill:none;
    stroke:#06473A;
    stroke-width:25;
    stroke-linecap:round;
    stroke-miterlimit:10;
    stroke-dasharray: 401.08;
    stroke-dashoffset: 401.08;
}

.section .ani02{animation: strokeani01 1.5s forwards;}
.section .ani03{animation: strokeani02 1.5s 0.3s forwards;}
.section .ani04{animation: strokeani03 1.5s 0.5s forwards;}
.section .ani05{animation: strokeani04 1.5s 0.7s forwards;}

@keyframes strokeani01{
    from{stroke-dashoffset: 401.08;}
    to{stroke-dashoffset: 50;}
}
@keyframes strokeani02{
    from{stroke-dashoffset: 401.08;}
    to{stroke-dashoffset: 90;}
}
@keyframes strokeani03{
    from{stroke-dashoffset: 401.08;}
    to{stroke-dashoffset: 50;}
}
@keyframes strokeani04{
    from{stroke-dashoffset: 401.08;}
    to{stroke-dashoffset: 50;}
}


/*----------------4 페이지------------------*/
#work{
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
}
#work .slide{
    width: 100%;
    height: 100vh;
}
#work .slide .container{
    width: 90%;
    margin: auto;
    position: relative;
}
#work .container h2{
    position: absolute;
    left: 0;
    font: bold 1.7em 'Rajdhani';
    padding-top: 220px;
}
#work .container h2::before{
    content: '03';
    position: absolute;
    z-index: -1;
    color: #ddd;
    font-size: 180px;
    left: -70px;
    top: 85px;
    font-family: 'Rajdhani';
}
#work .container .slide_bar{
    position: absolute;
    right: 5%;
    top: 25%;
}
#work .current_page{
    padding-bottom: 15px;
    color: red;
}
#work .total_page{
    padding-top: 15px;
}
#work .slide_bar .bar{
    width: 1px;
    height: 100px;
    background-color: #ddd;
    margin-left: 8px;
}
#work .slide .publishing{
    display: flex;
}
#work .slide .publishing .left_txt{
    padding: 300px 0 0 190px;
}
#work .left_txt .sitetitle{
    font: normal 1.5em 'Rajdhani';
    padding-bottom: 20px;
    color: black;
}
#work .left_txt p{
    font: normal 1.1em 'Nanum Gothic';
    color: #333;
}
#work .view{
    cursor: pointer;
    margin-top: 70px;
    width: 200px;
    height: 40px;
    border: 1px solid #555;
    text-align: center;
    box-sizing: border-box;
    font: normal 1em 'Rajdhani';
    padding-top: 9px;
}
#work .slide img{
    width: 60%;
}
#work .slide .publishing_img{
    margin: 180px 0 0 55px;
}


/*----------------4 페이지------------------*/
#admin{
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
}
#admin .container{
    width: 90%;
    margin: auto;
    position: relative;
}
#admin h2{
    position: absolute;
    z-index: 10;
    left: 0;
    font: bold 1.7em 'Rajdhani';
    padding-top: 220px;
}
#admin h2::before{
    content: '04';
    position: absolute;
    z-index: -1;
    color: #ddd;
    font-size: 180px;
    left: -70px;
    top: 85px;
    font-family: 'Rajdhani';
}

#admin .publishing{
    display: flex;
}
#admin .publishing .left_txt{
    padding: 300px 0 0 190px;
}
#admin .left_txt .sitetitle{
    font: normal 1.5em 'Rajdhani';
    padding-bottom: 20px;
    color: black;
}
#admin .left_txt p{
    font: normal 1.1em 'Nanum Gothic';
    color: #333;
}
#admin .view{
    cursor: pointer;
    margin-top: 70px;
    width: 200px;
    height: 40px;
    border: 1px solid #555;
    text-align: center;
    box-sizing: border-box;
    font: normal 1em 'Rajdhani';
    padding-top: 9px;
}
#admin img{
    width: 60%;
}
#admin .publishing_img{
    margin: 200px 0 0 55px;
}