
/* ---------------헤더,네비---------------- */
.header ul:nth-of-type(1) , .header ul:nth-of-type(2){
    display: none;
}
.header h2{
    text-align: center;
    flex:1 1 100%;
}
.header svg{
    display: block;
    width:5%;
    margin-left:5px;
    fill:orangered;
    cursor: pointer;
}
.hide{
    display: none;
}
.nav{
    display: none;
}

.gnb{
    position: fixed;
    display: block;
    z-index: 105;
    width:100%;
    height: 100%;
    left:-100%;
    top:0;
    background: hsla(0,0%,0%,0.6);
    color:white;
    transition: all 0.4s;
}
.gnb .wrap{
    width:80%;
    height: 80%;
}
.gnb ul{
    width:80%;
    height: 100%;
    background: #cebea2;
}
.gnb li{
    width:100%;
    height: 61px; /*11.1%*/
    box-sizing: border-box;
    padding-left: 5px;
    padding-top:15px;
    border-bottom: 1px solid white;
    text-transform: uppercase;
    font-family: 'Anton';
    position: relative;
    overflow: hidden;
}
.gnb li p{
    width:100%;
    height: 50%;
    box-sizing: border-box;
    padding-left: 5px;
    padding-top: 5px;
    margin-top:20px;
    cursor: pointer;
}
.gnb li svg{
    position: absolute;
    top:50%;
    right:5px;
    z-index: 10;
    width:30px;
    height: 30px;
    fill:white;
    transform:translateY(-50%) rotate(180deg);
    cursor: pointer;
}

.gnb .close{
    fill:white;
    width: 8%;
    position: absolute;
    z-index: 105;
    right:5px;
    cursor: pointer;
}

/* ---------------슬라이드---------------- */

.banner{
    display: none;
}
.banner2{
    display: block;
    width:100%;
    position: relative;
    z-index: 10;
}
.banner2 img{
    width: 100%;
}

/* ---------------소식---------------- */
.new div:nth-child(1){
    flex: 1 1 90%;
    height: 200px;
}
.new div:nth-child(2){
    flex: 1 1 90%;
    text-align: center;
    height: 100px;
}
.new div:nth-child(3){
    flex: 1 1 90%;
    text-align: center;
}
.new div:nth-child(1) img{
    left:50%;
    transform: translateX(-50%);
    top: 30px;
}
.new div:nth-child(1) p{
    left:50%;
    transform: translateX(-50%)
}
.new .line{
    margin: auto;
}
.new iframe{
    width: 434px;
    height: 250px;
}

.store div{
    flex: 1 1 33.3%;
}

/* ---------------이벤트 ---------------*/
.event div{
    flex:1 1 100%;
}
.event ul{
    width: 332px !important;
    height: 100%;
    overflow: hidden;
    border: none;
}
.event .bx-viewport{
    width: 331px !important;
    margin: auto ;
    margin-bottom: 20px;
    border: 0.5px solid #c1ae96;
    border-radius: 10px;
}
.event li:nth-child(1){
    width: 100%;
    height: 100%;
}


/* --------------콘텐츠---------------- */
.content{
    display: none;
}

.content2{
    display: block;
}
.content2 img{
    width: 50%;
}

/* ---------------메뉴---------------- */
.menu .wrap div{
    flex:1 1 100%;
}
.menu li h2{
    margin: auto;
}


/* ---------------푸터---------------- */
.footer .footermenu{
    margin-bottom: 30px;
}
.footer .company{
    margin-left: 15px;
}
.footermenu ul{
    margin-left: 15px;
}
.footermenu .member{
    flex: 1 1 70%;
    display: flex;
    margin-left: 15px;
    margin-top: 15px;
}
.footermenu .member p{
    flex: 1 1 19%;
    text-align: left;
}
.footermenu .member p:nth-child(4){
    line-height: 30px;
    flex: 1 1 24%;
}
.footermenu .footersns{
    text-align: left;
    margin-left: 15px;
}
.footermenu .footersns a{
    margin-right: 8px;
}